!!!

.container
  %h1 Add books

  .droparea
    Drag & Drop file.
    %form{:action => "/upload", :method => "post", :enctype => "multipart/form-data"}
      %input{:id => "file", :type => "file", :name => "files[]", :multiple => ""}
      %input{:type => "submit", :name => "upload"}


