!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title
      Honyomi

  %body
    .container
      .span12
        %h1 Honyomi
        #{@database.books.size} books, #{@database.pages.size} pages.

      .span12
        %form(method="post" action="/search")
          %input(type="text" size=40 name="query" value="#{@params[:query]}")
            %input(type="submit" value="Search")

      .span12
        = @content
              
          

          
