!!!

%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %title
      Honyomi

  %body
    .container
      .span12
        %h1 Honyomi

      .span12
        %form
          %input(type="text" size=40 name="q")
            %input(type="submit" value="Search")
          

          
